.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; 
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
    width: 93%;
    max-width: 1390px;        
  }
}  


@media (min-width: $desktop-width) {
  .container {
    max-width: 1390px;
  }
}  

@media (min-width: 1924px) {
  .container {
    width: 1924px;
    max-width: 1924px;
  }
}  



