.main-nav {   
    //position: relative; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-nav__toggle {
    background: url("../img/burger-icon.svg") no-repeat left center/35px 25px transparent;
    display: none;
    padding: 0;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    outline: 0;  
}

.main-nav__toggle--active {
    background: url("../img/cross-icon.svg")no-repeat 10% center/25px 25px;
}

.main-nav__actions {
    margin-left: 44px;
}

.main-nav__search {
    margin-left: 23%;
}


@media (max-width: $mobile-width-only) {
    .main-nav__navigation {
        display: none;
        position: absolute;
        height: calc(100vh - 60px);
        position: absolute;
        bottom: -1px;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        opacity: 0;
        pointer-events: none;
        transition: 0.35s opacity;
        background-color: #f8f8f6;
        z-index: 1000;
    }

    .main-nav--opened .main-nav__navigation {
        display: flex;
        opacity: 1;
    }

    .main-nav__toggle {
        display: block;
        height: 35px;
        width: 25px;
        margin-left: 25px;
    }
}

@media (min-width: $desktop-width) {
    .main-nav {        
        padding-top: 50px;
        padding-bottom: 20px;
    }    
}